<ul>
    <li class="has-children">
        <a href="#">Template</a>
    </li>
    <li class="has-children">
        <a href="#">Pages</a>
    </li>
    <li class="has-children">
        <a href="#"><span>System</span></a>
    </li>
    <li class="has-children">
        <a href="#">Service</a>
    </li>
    <li class="has-children has-children--multilevel-submenu">
        <a href="#">Project</a>
    </li>
    <li class="has-children has-children--multilevel-submenu">
        <a href="blog-list-large-image.html"><span>Blog</span></a>
        <!-- multilevel submenu -->
        <!-- <ul class="submenu">
            <li><a href="blog-list-large-image.html"><span>List Large Image</span></a></li>
            <li><a href="blog-list-left-large-image.html"><span>Left Large Image</span></a></li>
            <li><a href="blog-grid-classic.html"><span>Grid Classic</span></a></li>
            <li><a href="blog-grid-masonry.html"><span>Grid Masonry</span></a></li>
        </ul> -->
    </li>
</ul>