@@if(pageTopName === 'default'){
    <!DOCTYPE html>
    <html class="no-js" lang="zxx" dir="ltr">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MesBiz - Superb HubSpot website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="icon" href="assets/images/favicon.webp">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap" rel="stylesheet">  
        <!-- CSS
        ============================================ -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
    
    </head>
    
    <body>
}
