.feature-item {
    padding:  0 30px 35px;
    border-radius: 8px;
    border: 1px solid;
    border-image-repeat: round;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgba(148, 219, 226, 0) 0%, #82DDE6 100%);  
}
.feature-icon {
    border-radius: 8px;
    background: #fff;
    text-align: center;
    padding: 40px 10px;
}
.feature-one {
    background: #F1F2FF;
}
.feature-two {
    background: #FFF2E7;
}
.feature-three {
    background: #DEFCFF;
}
.feature-content {
    margin-top: 20px;
    padding: 0 10px;
}
.feature-title {
    margin-bottom: 10px;
}
.feature-text {
    font-size: 15px;
    color: #4F4F4F;
}



// Tamplate Features Css

.single-template-feature {
    padding: 35px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-align: center;
}
.template-feature-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
}



// Money Back Section Css

.money-back-bg-image {
    background-image: url('../images/bg/money-back-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.money-back-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 100px 77px 100px;
    @media #{$tablet-device} {
        padding: 50px 30px 50px 30px;
    }
    @media #{$large-mobile} {
        padding: 50px 30px 50px 30px;
        flex-direction: column-reverse;
        .money-back-content {
            margin-top: 30px;
        }
    }
}
.money-back-content {
    max-width: 430px;
    .sub-heading {
        color: $black;
        margin-bottom: 15px;
    }
    .heading {
        margin-bottom: 15px;
    }
    p {
        color: $black;
    }
}